body{
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    background: #a2d2ff;
    color: #ffffff;
}

#avatar {
    /* deixa redondo */
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;

    /* estilizacao */
    border: 5px solid #efb0c9;
}

h1, h2, h3, h4, p{
    text-shadow: 0px 0px 2px black;
}

#age{
    background: #efb0c9;
    padding: 6px 12px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#date{
    background: #efb0c9;
    padding: 6px 12px;
    border-radius: 10px;
    margin: 0;
}

#header {
    /* famoso flex-box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}